:root {
  --midnight-blue: #003366;
  --black-pearl: #041c2c;
  --blue-zodiac: #0c2340;
  --mystic: #dbe2e9;
  --sunflower: #e0e721;
  --darkest-blue: #1e2c47;
  --ligth-yellow: #f7fc6c;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #1e2c47; */
  background-color: var(--black-pearl);
  color: white;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

/* Navbar styles */

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  transition: opacity 0.4s ease;
  padding: 0 1.3vw;
  position: relative;
  font-style: italic;
}

.nav-link.active {
  opacity: 1;
}

.nav-link::before {
  content: '>';
  font-style: normal;
  opacity: 0;
  transition: 0.4s;
}

.nav-link.active::before {
  content: '>';
  font-style: normal;
  opacity: 1;
  margin-right: 5px;
}

.main-nav {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: fit-content;
  margin: 0 auto;
  background-color: var(--mystic);
  opacity: 0;
  display: none;
  justify-content: center;
  padding: 10px;
  z-index: 1;
  transition: opacity 0.2s ease;
  transition: border 0.2 ease;
  border-radius: 8px;
}

.main-nav.fixed {
  opacity: 1;
  position: fixed;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar-placeholder {
  display: none;
}

.main-nav.fixed ~ .navbar-placeholder {
  display: block;
  height: 45px;
}

/* Sidebar style */

.sidebar {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li img {
  vertical-align: middle;
  height: 20px;
  transition: transform 0.2s ease;
}

.sidebar ul li img:hover {
  height: 20px;
  transform: translateY(-5px);
}

.sidebar::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin-left: 10px;
  background-color: #fff;
}

.sidebar::before {
  content: "";
  display: block;
  width: 1px;
  height: 200px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}

/* Swag */

.swag-link {
  text-decoration: none;
  color: #fff;
  position: relative;   
}

.swag-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #fff;
  transition: 0.4s;
}

.swag-link:hover::after {
  width: 100%;
}

.swag-box {
  overflow: auto;
  /* border: 2px solid #fff; */
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: var(--blue-zodiac);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  max-width: 1000px;
  
}

/* .swag-box::after {
  content: "";
  display: table;
  clear: both;
} */

/* Header container and children styles */

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0px;
  padding-left: 20px;
  position: relative;
  margin-bottom: 40px;
  width: 100%;
  max-width: 1000px;
  /* min-width: 600px; */
}

.name-title {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: right;
  padding-right: 0px;
  text-shadow: 5px 5px #4c4c4c;
  transform: translateY(50px);
  animation: fadeIn 2s 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hello {
  display: flex;
  flex-direction: column;
  margin-right: 0px;
}

.hello h1 {
  opacity: 0;
  margin: 0;
  /* font-size: 70px; */
  font-size: 4em;
  text-shadow: 5px 5px #4c4c4c;
  transform: translateY(50px);
  animation: fadeIn 2s 0s forwards;
}

.hello h2 {
  opacity: 0;
  font-size: 30px;
  text-shadow: 5px 5px #4c4c4c;
  transform: translateY(50px);
  animation: fadeIn 2s 0.5s forwards;
}

.subtitle {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeIn 2s 2s forwards;
}

.name {
  margin-top: 0;
  font-size: 40px;
  margin-bottom: 5px;
  animation: fadeIn 2s 1s forwards;
}

.down-icon-container {
  display: none;
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
  transition: transform 0.2s ease;
}

.down-icon-container:hover {
  transform: translateY(-10px);
}

.img-container {
  max-width: 200px;
  /* border: 2px solid #fff; */
  border-radius: 6px;
  
  overflow: hidden;
  /* background-color: #fff; */
  opacity: 0;
  transform: translateY(50px);
  animation: fadeIn 2s 1.5s forwards;
}

.cv-img {
  height: 100%;
  width: 100%;
}

/* Main children styles */

section {
  width: 100%;
  max-width: 1000px;
  padding: 0px;
}

.heading {
  margin-bottom: 30px;
  /* font-size: 60px; */
  font-size: 3em;
  display: flex;
  width: fit-content;
  align-items: center;
  white-space: nowrap;
  font-style: italic;
  text-shadow: 7px 7px #4c4c4c;
  color: #fff;
  margin-left: 20px;
}

.git-logo {
  width: 15px;
}

.app-service-logo {
  width: 15px;
}

/* Sidebar 2 */

.sidebar2 {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  margin-right: 10px;
}

.sidebar2::after {
  content: "";
  display: block;
  width: 1px;
  height: 200px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: #fff;
}

.sidebar2::before {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}

.sidebar-email {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  writing-mode: vertical-rl;
  font-weight: bold;
  transition: transform 0.2s ease;
}

.sidebar-email:hover {
  transform: translateY(-5px);
}

.education {
  display: grid;
  grid-template-columns: 100%;
}

section p {
  /* font-size: 17px; */
  font-size: 1em;
}

.swag-container {
  border-left: 8px solid var(--sunflower);
  border-radius: 8px;
  padding: 20px;
  padding-left: 10px;
  margin: 20px;
  margin-left: 0px;
  background-color: var(--ligth-yellow);
  color: #333;
}

.swag-container-header {
  margin-top: 0;
}

.swag-container-text {
  margin-top: 0;
  margin-bottom: 0;
}

.skills {
  display: grid;
  grid-template-columns: 100%;
}

.sub-section-header {
  width: fit-content;
  font-weight: bold;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom: 2px solid var(--mystic);
}

.left-border {
  border-left: 6px solid var(--mystic);
  padding-left: 10px;
}

.project-box {
  display: flex;
  flex-direction: row;
}

.project-img-container {
  margin-left: 0px;
  max-height: 400px;
  max-width: 520px;
  min-width: 200px;
  position: relative;
  padding: 5px 0px 5px 0px;
  display: none;
}

.project-img {
  max-height: auto;
  max-width: 100%;
  filter: grayscale(100%);
  border-radius: 6px;
  transition: filter 0.2s ease;
}

.project-img:hover {
  filter: grayscale(0%);
  padding-left: 0px;
}

.swag-img-link {
  height: 0;
}

.project-description {
  margin-right: 10px;
}

.project-links-container {
  max-width: 300px;
  margin-left: 0px;
}

.project-link {
  text-decoration: none;
  position: relative;
  color: #333;
}

.project-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #333;
  transition: 0.4s;
}

.project-link:hover::after {
  width: 100%;
}

.contacts {
  display: grid;
  grid-template-columns: 100%;
}

.contacts.swag-container {
  margin-left: 0px;
}

#contact {
  min-height: 100vh;
  margin-bottom: 200px;
}

@media screen and (min-width: 1150px) {
  .sidebar {
    display: block;
  }

  .sidebar2 {
    display: block;
  }

  .swag-box {
    margin: 0 auto;
    margin-bottom: 50px;
    box-shadow: 20px 20px #4c4c4c;
  }

  .heading {
    margin-left: 0px;
  }

  #contact {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 700px) {
  .skills {
    grid-template-columns: 50% 50%;
  }

  .education {
    grid-template-columns: 50% 50%;
  }

  .contacts {
    grid-template-columns: 50% 50%;
  }

  .hero {
    flex-direction: row;
    padding: 20px;
  }

  .img-container {
    box-shadow: 20px 20px #4c4c4c;
    max-width: 300px;
  }

  .down-icon-container {
    display: block;
  }

  .name-title {
    padding-right: 70px;
  }

  .hello {
    margin-right: 20px;
  }

  section {
    padding: 20px;
  }

  .main-nav {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  .project-img-container {
    margin-left: 20px;
    display: block;
  }
}