:root {
    --midnight-blue: #003366;
    --black-pearl: #041c2c;
    --blue-zodiac: #0c2340;
    --mystic: #dbe2e9;
    --sunflower: #e0e721;
    --darkest-blue: #1e2c47;
    --ligth-yellow: #f7fc6c;
    --dark-gray: #3f3f3f;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--black-pearl);
    color: white;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding-top: 4rem;
}

/* Navbar styles */

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: #333;
    text-decoration: none;
    /*font-size: 18px;*/
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: opacity 0.4s ease;
    padding: 0 1.3vw;
    position: relative;
    font-style: italic;
}

.nav-link.active {
    opacity: 1;
}

.nav-link::before {
    content: "–";
    font-style: normal;
    opacity: 0;
    transition: 0.4s;
}

.nav-link::after {
    content: "–";
    font-style: normal;
    opacity: 0;
    transition: 0.4s;
}

.nav-link.active::before {
    content: "–";
    font-style: normal;
    opacity: 1;
    margin-right: 0.3rem;
}

.nav-link.active::after {
    content: "–";
    font-style: normal;
    opacity: 1;
    margin-left: 0.3rem;
}

.main-nav {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: fit-content;
    margin: 0 auto;
    background-color: var(--mystic);
    opacity: 0;
    display: none;
    justify-content: center;
    padding: 1rem;
    z-index: 1;
    transition: opacity 0.2s ease;
    transition: border 0.2 ease;
    border-radius: 0.5rem;
}

.main-nav.fixed {
    opacity: 1;
    position: fixed;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-placeholder {
    display: none;
}

.main-nav.fixed ~ .navbar-placeholder {
    display: block;
    height: 3rem;
}

/* Sidebar style */

.sidebar {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.sidebar ul li {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.sidebar ul li img {
    vertical-align: middle;
    height: 1.5rem;
    transition: transform 0.2s ease;
}

.sidebar ul li img:hover {
    transform: translateY(-5px);
}

.sidebar::after {
    content: "";
    display: block;
    width: 0.05rem;
    height: 5.8rem;
    margin-left: 0.75rem;
    background-color: #fff;
}

.sidebar::before {
    content: "";
    display: block;
    width: 0.05rem;
    height: 11rem;
    margin-left: 0.75rem;
    margin-bottom: 1rem;
    background-color: #fff;
}

/* Swag */

.swag-link {
    text-decoration: none;
    color: #fff;
    position: relative;
}

.swag-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 0.1rem solid #fff;
    transition: 0.4s;
}

.swag-link:hover::after {
    width: 100%;
}

.swag-box {
    overflow: auto;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--blue-zodiac);
    border: 0.1rem solid var(--darkest-blue);
}

/* Header container and children styles */

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 40px;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
}

.name-title {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: right;
    padding-right: 0px;
    transform: translateY(50px);
    animation: fadeIn 2s 1s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hello {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
}

.hello h1 {
    opacity: 0;
    margin: 0;
    font-size: 4em;
    transform: translateY(50px);
    animation: fadeIn 2s 0s forwards;
}

.hello h2 {
    opacity: 0;
    font-size: 30px;
    /*text-shadow: 5px 5px #4c4c4c;*/
    transform: translateY(50px);
    animation: fadeIn 2s 0.5s forwards;
}

.subtitle {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeIn 2s 2s forwards;
}

.name {
    margin-top: 0;
    font-size: 40px;
    margin-bottom: 5px;
    animation: fadeIn 2s 1s forwards;
}

.down-icon-container {
    display: none;
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
    transition: transform 0.2s ease;
}

.down-icon-container:hover {
    transform: translateY(-10px);
}

.img-container {
    max-width: 17rem;
    max-height: 17rem;
    border-radius: 50%;
    border: 0.1rem solid var(--mystic);

    overflow: hidden;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeIn 2s 1.5s forwards;
}

.cv-img {
    height: 100%;
    width: 100%;
}

/* Main children styles */

section {
    max-width: 80rem;
    width: 100%;
}

.section-inner {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 1rem;
}

.heading {
    display: flex;
    flex-direction: column;
    display: flex;
    width: fit-content;
    white-space: nowrap;
    font-style: italic;
    color: #fff;
    gap: 1rem;
}

.heading h1 {
    font-size: 3em;
    padding: 0;
    margin: 0;
}

.git-logo {
    width: 15px;
}

.app-service-logo {
    width: 15px;
}

/* Sidebar 2 */

.sidebar2 {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    margin-right: 0.2rem;
}

.sidebar2::after {
    content: "";
    display: block;
    width: 0.05rem;
    height: 15rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    background-color: #fff;
}

.sidebar2::before {
    content: "";
    display: block;
    width: 0.05rem;
    height: 6rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #fff;
}

.sidebar-email {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #fff;
    writing-mode: vertical-rl;
    font-weight: bold;
    transition: transform 0.2s ease;
}

.sidebar-email:hover {
    transform: translateY(-5px);
}

.education {
    display: grid;
    grid-template-columns: 100%;
}

section p {
    font-size: 1em;
}

.swag-container {
    border-left: 0.5rem solid var(--mystic);
    border-radius: 0.5rem;
    padding: 20px;
    padding-left: 10px;
    margin: 20px;
    margin-left: 0px;
    background-color: white;
    color: #333;
}

.swag-container-header {
    margin-top: 0;
}

.swag-container-text {
    margin-top: 0;
    margin-bottom: 0;
}

.skills {
    display: grid;
    grid-template-columns: 100%;
}

.sub-section-header {
    width: fit-content;
    font-weight: bold;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom: 2px solid var(--mystic);
}

.sub-section-sub-header {
    width: fit-content;
    font-weight: bold;
    text-transform: uppercase;
}

.left-border {
    border-left: 6px solid var(--mystic);
    padding-left: 10px;
}

.project-box {
    display: flex;
    flex-direction: row;
}

.project-img-container {
    margin-left: 1rem;
    max-height: 20rem;
    max-width: 35rem;
    min-width: 15rem;
    position: relative;
    padding: 5px 0px 5px 0px;
    display: block;
}

.project-img {
    max-height: auto;
    max-width: 100%;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--dark-gray);
}

.swag-img-link {
    height: 0;
}

.project-description {
    margin-right: 10px;
}

.project-links-container {
    max-width: 300px;
    margin-left: 0px;
}

.project-link {
    text-decoration: none;
    position: relative;
    color: #333;
}

.project-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #333;
    transition: 0.4s;
}

.project-link:hover::after {
    width: 100%;
}

.contacts {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
}

#contact {
    min-height: 100vh;
    margin-bottom: 0;
}

@media screen and (max-width: 1150px) {
    .sidebar {
        display: none;
    }

    .sidebar2 {
        display: none;
    }

    .section-inner {
        padding: 2rem;
    }
}

@media screen and (min-width: 700px) {
    .skills {
        grid-template-columns: 50% 50%;
    }

    .education {
        grid-template-columns: 50% 50%;
    }

    .contacts {
        grid-template-columns: 50% 50%;
    }

    .down-icon-container {
        display: block;
    }

    .main-nav {
        display: flex;
    }
}

@media screen and (max-width: 1000px) {
    .project-img-container {
        display: none;
    }
}
